
<!DOCTYPE html>
<html manifest="cache.manifest" lang="en" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=800, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="Stylesheet" href="main.css" type="text/css">
    <title>Group Ranking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<center><script>var myVar=setInterval(function(){myTimer()},1000); function myTimer() {var d=new Date(); var t=d.toLocaleTimeString(); document.getElementById("h").innerHTML=t;}</script>
<span id="h"></span>
<script type="text/javascript">
    function time() {
    var today = new Date();
    var weekday=new Array(7);
    weekday[0]="Chủ Nhật";
    weekday[1]="Thứ Hai";
    weekday[2]="Thứ Ba";
    weekday[3]="Thứ Tư";
    weekday[4]="Thứ Năm";
    weekday[5]="Thứ Sáu";
    weekday[6]="Thứ Bảy";
    var day = weekday[today.getDay()];
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    m=checkTime(m);
    s=checkTime(s);
    nowTime = h+":"+m+":"+s;
    if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} today = day+', '+ dd+'/'+mm+'/'+yyyy;

    tmp='<span class="date">'+today+' | '+nowTime+'</span>';

    document.getElementById("clock").innerHTML=tmp;

    clocktime=setTimeout("time()","1000","JavaScript");
    function checkTime(i)
    {
      if(i<10){
     i="0" + i;
      }
      return i;
    }
}
</script></center>    
<style>
#h {font-weight:400;
    display: block;
    font-size: 30px;
    margin: 0 0 5px;
    letter-spacing: 5px;
}
</style>
    <style>#ranking {
        max-width: 800px;
    }
    button[disabled]+.tooltip{
        visibility: hidden;
    }
    [v-cloak] {
        display: none
    }
    </style>
<video autoplay loop muted poster="screenshot.jpg" id="background">
    <source src="images/Video1.mp4" type="video/mp4">
</video>
</head>
<body onkeydown="return false">

<div class="container" id="ranking">
    <div v-cloak>
        <div class="row text-center">
            <div class="col-xs-12">
                <h1><a href="https://www.facebook.com/groups/thuthuatcydia/" target="_blank">
                     {{group}}
                </a></h1>
                <p>Có <strong>{{total}}</strong> thành viên được xếp hạng</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                            {{loading?'Ðang quét... '+percent+'%':'Ranking'}} <span id="status" style="display: none">(Ðang xử lý kết quả... <span id="progress">0%</span>)</span>
                            <div class="pull-right">
                                <span v-if="maxPages">{{page}}/{{maxPages}}</span>
                                <button :disabled="!back" @click="goBack" class="btn btn-default btn-xs" title="Trang trước" data-toggle="tooltip"><i class="glyphicon glyphicon-menu-left"></i></button>
                                <button :disabled="!next" @click="goNext" class="btn btn-default btn-xs" title="Trang sau" data-toggle="tooltip"><i class="glyphicon glyphicon-menu-right"></i></button>
                            </div>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <div :class="gidClass">
                            <span v-if="message" class="help-block">{{message}}</span>
                        </div>

                        <div v-if="ranks.length > 0">
                            <table id="rankTable" data-toggle="table" class="table">
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Họ & Tên</th>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Bài viết</th>
                                    <th class="text-center">Lượt Thích</th>
                                    <th class="text-center">Bình Luận</th>
                                    <th class="text-center">Chia Sẻ</th>
                                    <th class="text-center">Spam</th>
                                    <th class="text-center">Tổng Điểm</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="rank in ranks" :key="rank.id" :class="rank.is_mine?'bg-success':''">
                                    <td>{{rank.rank}}</td>
                                    <td>
                                        <a target="_blank" :href="'https://fb.com/'+rank.id">
                                            <img class="profile-picture"
                                                 :src="'https://graph.facebook.com/'+rank.id+'/picture?width=32'"
                                                 alt="profile-picture" width="32px" height="32px">
                                        </a>
                                        <a target="_blank" :href="'https://fb.com/'+rank.id">
                                            {{rank.name}}
                                        </a>

                                    </td>
                                    <td class="text-center">{{rank.id}}</td>
                                    <td class="text-center">{{rank.post}}</td>
                                    <td class="text-center">{{rank.reaction}}</td>
                                    <td class="text-center">{{rank.comment}}</td>
                                    <td class="text-center">{{rank.share}}</td>
                                    <td class="text-center">{{rank.spam}}</td>
                                    <td class="text-center">{{rank.points}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-footer text-center">
                        Developed Thu Thuat Jailbreak Va Cydia (Dam Me Jailbreak)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="api.js"></script>
<script src="rank.js"></script>
<script src="app.js"></script>
<script> 
var points = ['200', '100', '60', '60','300', '2'];
rank('551867098345879', 'EAAAAAYsX7TsBAOoYloV82qwulBodvmZBkHkGSmybiL7NcPbqMtBV2O7j0rGqUgwZAjwLm8xU3QAidNLb5jgQ4tVyi1GBJ7RN6Mz3RNcXi0ZBfTuexQZB69yKcAztcY5Tb5DQ14ZCQCy6ZBJgEZBUX4gFriNaGZBg3PiUAA8VMhjqy0cSKUDELPPEV55oqsB3KA3bgfnX4EENanXCxho7iFAfniM9qLqLr1yDWySjtbZCrhwZDZD' 'hellomotherfucker', 30, points);</script>
</body>
</html>
