
<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml">
<head>
<script type=”text/JavaScript”>
var message=”NoRightClicking”; function defeatIE() {if (document.all) {(message);return false;}} function defeatNS(e) {if (document.layers||(document.getElementById&&!document.all)) { if (e.which==2||e.which==3) {(message);return false;}}} if (document.layers) {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;} else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;} document.oncontextmenu=new Function(“return false”) 
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=800, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="Stylesheet" href="main.css" type="text/css">
    <title>Group Ranking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<center><script>var myVar=setInterval(function(){myTimer()},1000); function myTimer() {var d=new Date(); var t=d.toLocaleTimeString(); document.getElementById("h").innerHTML=t;}</script>
<span id="h"></span>
<script type="text/javascript">
n=new Date();if(n.getTimezoneOffset()==0)t=n.getTime()+(7*60*60*1000);else t=n.getTime();n.setTime(t);var dn=new Array("Chủ nhật","Thứ 2","Thứ 3","Thứ 4","Thứ 5","Thứ 6","Thứ 7");d=n.getDay();m=n.getMonth()+1;y=n.getFullYear()
document.write(dn[d]+", "+(n.getDate()<10?"0":"")+n.getDate()+"/"+(m<10?"0":"")+m+"/"+y)
</script></center>
<style>
#h {font-weight:400;
    display: block;
    font-size: 30px;
    margin: 0 0 5px;
    letter-spacing: 5px;
}
</style>
    <style>#ranking {
        max-width: 800px;
    }
    button[disabled]+.tooltip{
        visibility: hidden;
    }
    [v-cloak] {
        display: none
    }
    </style>
</head>
<body onkeydown="return false">

<div class="container" id="ranking">
    <div v-cloak>
        <div class="row text-center">
            <div class="col-xs-12">
                <h1><a href="https://www.facebook.com/groups/thuthuatcydia/" target="_blank">
                    Nhóm: {{group}}
                </a></h1>
                <p>Có <strong>{{total}}</strong> thành viên được xếp hạng</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                            {{loading?'Đang quét... '+percent+'%':'Ranking'}} <span id="status" style="display: none">(Đang xử lý kết quả... <span id="progress">0%</span>)</span>
                            <div class="pull-right">
                                <span v-if="maxPages">{{page}}/{{maxPages}}</span>
                                <button :disabled="!back" @click="goBack" class="btn btn-default btn-xs" title="Trang trước" data-toggle="tooltip"><i class="glyphicon glyphicon-menu-left"></i></button>
                                <button :disabled="!next" @click="goNext" class="btn btn-default btn-xs" title="Trang sau" data-toggle="tooltip"><i class="glyphicon glyphicon-menu-right"></i></button>
                            </div>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <div :class="gidClass">
                            <span v-if="message" class="help-block">{{message}}</span>
                        </div>

                        <div v-if="ranks.length > 0">
                            <table id="rankTable" data-toggle="table" class="table">
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Name</th>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Posts</th>
                                    <th class="text-center">Reaction</th>
                                    <th class="text-center">Comment</th>
                                    <th class="text-center">Share</th>
                                    <th class="text-center">Spam</th>
                                    <th class="text-center">Points</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="rank in ranks" :key="rank.id" :class="rank.is_mine?'bg-success':''">
                                    <td>{{rank.rank}}</td>
                                    <td>
                                        <a target="_blank" :href="'https://fb.com/'+rank.id">
                                            <img class="profile-picture"
                                                 :src="'https://graph.facebook.com/'+rank.id+'/picture?width=32'"
                                                 alt="profile-picture" width="32px" height="32px">
                                        </a>
                                        <a target="_blank" :href="'https://fb.com/'+rank.id">
                                            {{rank.name}}
                                        </a>

                                    </td>
                                    <td class="text-center">{{rank.id}}</td>
                                    <td class="text-center">{{rank.post}}</td>
                                    <td class="text-center">{{rank.reaction}}</td>
                                    <td class="text-center">{{rank.comment}}</td>
                                    <td class="text-center">{{rank.share}}</td>
                                    <td class="text-center">{{rank.spam}}</td>
                                    <td class="text-center">{{rank.points}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-footer text-center">
                        Developed Thu Thuat Jailbreak Va Cydia (Dam Me Jailbreak)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="api.js"></script>
<script src="rank.js"></script>
<script src="app.js"></script>
<script>
var points = [
/*đăng bài*/'100', 
/*thả rect*/'50', 
/*bình luận*/'30', 
'30',
/*chia sẻ*/'150', 
/*spam*/'1'];
rank('551867098345879', 'EAAAAAYsX7TsBADozBpyPX1vZBP7wqtAuNMiPj99WlBbjC3hUabpUla1yUl1RN8Ln7SHnzbUd1zGEVkwC9URGIb8Y3IGDAN7WfBsoHEoIEgkiPFbPIMhLLfppT3gjWW0Lld6bKipVUlp5WpZCqBXfCWMTE3hd4tJ1KxoNtO7dBmbcqGq13ZCsPls5a2USZBSOmvHJte6XtCSpOaYQnf5K', 'thuthuatjb', 30, points);</script>
<script type='text/javascript'>
    //<![CDATA[
    // JavaScript Document
    var message = "NoRightClicking";
    function defeatIE() {
        if (document.all) {
            (message);
            return false;
        }
    }
    function defeatNS(e) {
        if (document.layers || (document.getElementById && !document.all)) {
            if (e.which == 2 || e.which == 3) {
                (message);
                return false;
            }
        }
    }
    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown = defeatNS;
    } else {
        document.onmouseup = defeatNS;
        document.oncontextmenu = defeatIE;
    }
    document.oncontextmenu = new Function("return false")
        //]]>
</script>
<script type='text/javascript'>
    checkCtrl = false $('*').keydown(function(e) {
        if (e.keyCode == '17') {
            checkCtrl = false
        }
    }).keyup(function(ev) {
        if (ev.keyCode == '17') {
            checkCtrl = false
        }
    }).keydown(function(event) {
        if (checkCtrl) {
            if (event.keyCode == '85') {
                return false;
            }
        }
    })
</script>
</body>
</html>
